---
import Base from "@layouts/Base.astro";
import { langs, useTranslations } from "@i18n";

// Exporting static path for each available languages
export async function getStaticPaths() {
    return Object.keys(langs).map(lang => {        
        return { params: { lang } };
    });
}

const { lang } = Astro.params;
const t = await useTranslations(lang)
// meta_descr: meta_descr.mrl
---

<Base header={{ 
    title: "titles.researchlab",
    on_body: true, 
}}>

<div class="container description">
    <p>{t('research_lab.intro')} {t('research_lab.intro_email')}</p>
</div>
<section class="container">
    <div class="row">
        <!-- left two-thirds block-->
        <div class="left two-thirds col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="info-block research-paper">
                <div class="row center-xs">
                    <div class="col"><h2>{t('research_lab.mrl_papers')}</h2></div>
                </div>
                <div class="tab">
                    <input id="tab-2020312" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-2020312" class="accordion">IACR 2020/312: {t('research_lab.iacr2020312')}</label>
                    <div class="tab-content">
                        <p>{t('research_lab.iacr2020312_note')}</p>
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.iacr2020312_abstract')}</p>
                        <div class="center-xs">
                            <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="https://eprint.iacr.org/2020/312">{t('research_lab.read_paper')}</a></p>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-2020018" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-2020018" class="accordion">IACR 2020/018: {t('research_lab.iacr2020018')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.iacr2020018_abstract')}</p>
                        <div class="center-xs">
                            <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="https://eprint.iacr.org/2020/018">{t('research_lab.read_paper')}</a></p>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-2019654" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-2019654" class="accordion">IACR 2019/654: {t('research_lab.iacr2019654')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.iacr2019654_abstract')}</p>
                        <div class="center-xs">
                            <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="https://eprint.iacr.org/2019/654">{t('research_lab.read_paper')}</a></p>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-11" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-11" class="accordion">MRL-0010: {t('research_lab.mrl10')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.mrl10_abstract')}</p>
                        <div class="center-xs">
                           <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/MRL-0010.pdf">{t('research_lab.read_paper')}</a></p>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-10" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-10" class="accordion">MRL-0009: {t('research_lab.mrl9')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.mrl9_abstract')}</p>
                        <div class="center-xs">
                            <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/MRL-0009.pdf">{t('research_lab.read_paper')}</a></p>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-9" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-9" class="accordion">MRL-0008: {t('research_lab.mrl8')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.mrl8_abstract')}</p>
                        <div class="center-xs">
                            <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/MRL-0008.pdf">{t('research_lab.read_paper')}</a></p>
                            </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-8" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-8" class="accordion">MRL-0007: {t('research_lab.mrl7')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.mrl7_abstract')}</p>
                        <div class="center-xs">
                            <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/MRL-0007.pdf">{t('research_lab.read_paper')}</a></p>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-7" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-7" class="accordion">MRL-0006: {t('research_lab.mrl6')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.mrl6_abstract')}</p>
                        <div class="center-xs">
                            <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/MRL-0006.pdf">{t('research_lab.read_paper')}</a></p>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-6" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-6" class="accordion">MRL-0005: {t('research_lab.mrl5')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.mrl5_abstract')}</p>
                        <div class="center-xs">
                            <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/MRL-0005.pdf">{t('research_lab.read_paper')}</a></p>
                        </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-5" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-5" class="accordion">MRL-0004: {t('research_lab.mrl4')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.mrl4_abstract')}</p>
                            <div class="center-xs">
                                <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/MRL-0004.pdf">{t('research_lab.read_paper')}</a></p>
                            </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-4" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-4" class="accordion">MRL-0003: {t('research_lab.mrl3')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.mrl3_abstract')}</p>
                            <div class="center-xs">
                                <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/MRL-0003.pdf">{t('research_lab.read_paper')}</a></p>
                            </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-3" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-3" class="accordion">MRL-0002: {t('research_lab.mrl2')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.mrl2_abstract')}</p>
                            <div class="center-xs">
                                <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/MRL-0002.pdf">{t('research_lab.read_paper')}</a></p>
                            </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-2" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-2" class="accordion">MRL-0001: {t('research_lab.mrl1')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.abstract')}:</strong> {t('research_lab.mrl1_abstract')}</p>
                            <div class="center-xs">
                                <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/MRL-0001.pdf">{t('research_lab.read_paper')}</a></p>
                            </div>
                    </div>
                </div>
                <div class="tab">
                    <input id="tab-1" type="checkbox" name="tabs" class="accordion">
                    <label for="tab-1" class="accordion">UNPUBLISHED: {t('research_lab.mrlhtp')}</label>
                    <div class="tab-content">
                        <p><strong>{t('research_lab.summary')}:</strong> {t('research_lab.mrlhtp_summary')}</p>
                            <div class="center-xs">
                                <p><a class="btn-link btn-auto btn-primary" target="_blank" rel="noreferrer noopener" href="{{site.baseurl}}/resources/research_lab/pubs/ge_fromfe.pdf">{t('research_lab.read_paper')}</a></p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end left two-thirds block-->
        <!-- right one-third block-->
        <div class="right one-third col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="sidebar col-sm-12 col-xs-12">
                <div class="info-block">
                    <div class="row">
                        <div class="col">
                            <h2>{t('titles.library')}</h2>
                            <div>
                                <p>{t('research_lab.libraryp')}</p><br>
                                <div class="center-xs">
                                    <a class="btn-link btn-auto btn-primary" href="{{ site.baseurl }}/library/">{t('research_lab.librarybutton')}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-block">
                    <div class="row">
                        <div class="col">
                            <h2>{t('research_lab.cryptonote')}</h2>
                            <div class="whitepaper">
                                <a href="{{ site.baseurl }}/resources/research_lab/pubs/cryptonote-whitepaper.pdf">{t('research_lab.cryptonote-whitepaper')}</a>
                                <p>{t('research_lab.cryptonote-whitepaper_para')}</p>
                            </div>
                            <div class="whitepaper">
                                <a href="{{site.baseurl}}/resources/research_lab/pubs/whitepaper_annotated.pdf">{t('research_lab.annotated')}</a>
                                <p>{t('research_lab.annotated_para')}</p>
                            </div>
                            <div class="whitepaper">
                                <a href="{{site.baseurl}}/resources/research_lab/pubs/whitepaper_review.pdf">{t('research_lab.brandon')}</a>
                                <p>{t('research_lab.brandon_para')}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end right one-third block-->
    </div>
</section>

</Base>
