---
import { langs, useTranslations, translatePath } from '@i18n';

import Base from '@layouts/Base.astro';
import OrangeButton from '@UI/OrangeButton.astro';
import OutlineButton from '@UI/OutlineButton.astro';
import FeatureText from '@UI/FeatureText.astro';
import FullBlock from '@UI/FullBlock.astro';

// Exporting static path for each available languages
export async function getStaticPaths() {
    
    return Object.keys(langs).map(lang => {        
        return { params: { lang } };
    });
}

// i18n
const { lang } = Astro.params;
const t = await useTranslations(lang);
const l = translatePath(lang);
---

<Base header={{ 
    title: 'Home'
}}>

    <div class="site-wrap">
        
        <!-- Hero -->
        <section class="container full col-xs-12">
            <div class="info-block info-block-main">
                <div class="row middle-xs">
                    <div class="col-lg-7 col-md-7 col-xs-12 main-video">
                        <div class="monero-video">
                            <video controls poster="/img/monero-community.png" preload="metadata" tabindex="0" aria-label="Monero community video">
                                {
                                    (lang != 'pt-br' && lang != 'ru') ? <source src="/media/Monero_Promo.m4v"> : <source src={`/media/${lang}/Monero_Promo.m4v`}>
                                }
                            <track label="English" kind="subtitles" srclang="en" src="/media/subtitles/en/monero-promo.vtt">
                            <track label="Italian" kind="subtitles" srclang="it" src="/media/subtitles/it/monero-promo.vtt">
                            </video>
                            <a href={l('/get-started/faq/#videos')}>{t('home.morevideos')}</a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-xs-12">
                        <div class="main-info">
                            <h1 id="main-h1">{t('home.heading')}</h1>
                            <h2 id="main-h2">{t('home.heading2')}</h2>
                            <p id="btn-top-box">
                                <OrangeButton href={l('/get-started/what-is-monero/')}>{t('home.about')}</OrangeButton>
                                <OrangeButton href={l('/community/workgroups/')}>{t('home.joincommunity')}</OrangeButton>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Feature list -->
        <FullBlock>
                <FeatureText image="/img/create-wallet.png" alt="Create wallet" reverse={true}>
                    <h3>{t('home.choosewallet')}</h3>
                    <p>{t('home.choosewallet_para')}</p>
                    <OutlineButton href={l('/downloads/')}>{t('home.downloads')}</OutlineButton>
                    </FeatureText>
                <FeatureText image="/img/exchange.png" alt="Exchange">
                    <h3>{t('home.getcoins')}</h3>
                    <p>{t('home.getcoins_para')}</p>
                    <OutlineButton href={l('/community/merchants/')}>{t('home.exchanges')}</OutlineButton>
                </FeatureText>
                <FeatureText image="/img/monero-accepted.png" alt="Merchants" reverse={true}>
                    <h3>{t('home.useit')}</h3>
                    <p>{t('home.useit_para')}</p>
                    <OutlineButton href={l('/community/merchants/')}>{t('home.merchants')}</OutlineButton>
                </FeatureText>
                <FeatureText image="/img/support.png" alt="FAQ">
                    <h3>{t('home.answers')}</h3>
                    <p>{t('home.faq_para')}</p>
                    <OutlineButton href={l('/get-started/faq/')}>{t('home.faq')}</OutlineButton>
                </FeatureText>
        </FullBlock>
        
        <!-- Documentation block -->
        <section class="container">
            <div class="row">
                <!-- Guides and Resources -->
                <div class="left two-thirds col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="info-block">
                        <div class="row center-xs">
                            <div class="col"><h2>{t('home.guides')}</h2></div>
                        </div>
                        <div class="row around-xs">
                            <div class="row center-xs">
                                <div class="col-xs-12">
                                    <p>{t('home.guides_para')}</p>
                                </div>
                            </div>
                            <OutlineButton href={l('/resources/user-guides/')}>{t('titles.userguides')}</OutlineButton>
                            <OutlineButton href={l('/resources/developer-guides/')}>{t('titles.developerguides')}</OutlineButton>
                            <OutlineButton href={l('/library/')}>{t('titles.library')}</OutlineButton>
                        </div>
                    </div>
                </div>
                
                <!-- Moneropedia -->
                <div class="right one-third col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-block center-xs">
                        <h2>Moneropedia</h2>
                        <p class="main-resources">{t('home.moneropedia_para')}</p>
                        <p><a href={l('/resources/moneropedia/')} class="orange">{t('home.moneropedia_button')}</a></p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Community feature list -->
        <FullBlock>
            <div class="row center-xs">
                <div class="col"><h2>{t('home.joincommunity')}</h2></div>
            </div>
            <FeatureText image="/img/learn-about-monero.png" alt="Contribute" reverse={true}>
                <h3>{t('home.contributecommunity')}</h3>
                <p>{t('home.contributecommunity_para')}</p>
                <OutlineButton href={l('/get-started/contributing/')}>{t('home.contributing')}</OutlineButton>
            </FeatureText>
            <FeatureText image="/img/mrl-logo.svg" alt="Monero Research Lab" class="main-icon-mrl">
                <h3>{t('titles.researchlab')}</h3>
                <p>{t('home.researchlab_para')}</p>
                <OutlineButton href={l('/resources/research-lab/')}>{t('home.visitmrl')}</OutlineButton>
            </FeatureText>
            <FeatureText image="/img/community-logo.png" alt="Contribute" reverse={true}>
                <h3>{t('home.meetcommunity')}</h3>
                <p>{t('home.meetus')}</p>
                <OutlineButton href={l('/community/hangouts/')}>{t('home.hangouts')}</OutlineButton>
            </FeatureText>
        </FullBlock>
        <!-- END Full Block -->
    </div>
</Base>
