---
import { useTranslations, translatePath } from 'src/i18n/utils';
import Base from '@layouts/Base.astro';

const { lang } = Astro.params;
const { post, latest, tags } = Astro.props;
const data = post.data;

const t = await useTranslations(lang ? lang : 'en');
const l = translatePath(lang!);
---

<Base header={{ 
    title: "titles.blogbytag",
    meta_descr: "meta_descr.blog"
}}>

<div class="site-wrap post">
    
    <section class="container">
            <div class="row">
                <!-- left two-thirds block-->
                <div class="left two-thirds col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="info-block">
                        <h2>{data.title}</h2> 
                        <p class="author">{`${t('blog.author')}: ${data.author? data.author : data.authors}`}</p>
                        <p class="post-date">{`${data.date? `${data.date.toDateString()}` : ''}`}</p>
                        <!-- {{content}} -->
                        <slot />
                        <hr>
                    </div>
                </div>
                <!-- end left two-thirds block-->
                
                <!-- right one-third block-->
                <div class="right one-third col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="sidebar col-sm-12 col-xs-12">   
                            <div class="info-block">
                                <div class="row center-xs">
                                    <div class="col"><h2>Recent Posts</h2></div>
                                </div>
                                {
                                    /* @ts-ignore */
                                    latest.map((post) => (
                                        <div class="row start-xs info-block-row">
                                            <div class="col">
                                                 <p><a href={l('/blog/post/${post.slug}')}>{post.data.title}</a></p>
                                             </div>
                                        </div>
                                    ))
                                }
                            </div>
                            <div class="info-block">
                                <div class="row center-xs">
                                    <div class="col">
                                        <h2>Popular Tags</h2>
                                    </div>
                                </div>
                                    {
                                        /* @ts-ignore */
                                        tags.map(tag => (
                                            <div class="row start-xs">
                                                <div class="col">
                                                    <p><a href={`/blog/tags/${tag}`}>#{tag}</a></p>
                                                </div>
                                            </div>
                                        ))
                                    }

                            </div>
                        </div> 
                </div>
                <!-- end right one-third block-->
            </div>
        </section>
    </div>
</Base>
